{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">  
<head>  
    <meta charset="utf-8" />  
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />  
    <meta name="description" content="" />  
    <meta name="author" content="" />  
    <title>Arman Group Login</title>  
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3XIpw93kf0848cam9EkHM9gD8TG51hK7xj4Z5qVZgqmKKyUAkfi" crossorigin="anonymous">  
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js" crossorigin="anonymous"></script>  
</head>  
<body class="bg-dark bg-gradient">  
    <div id="layoutAuthentication">  
        <div id="layoutAuthentication_content">  
            <main>  
                <div class="container">  
                    <div class="row justify-content-center">  
                        <div class="col-lg-5">                                
                            <div class="card shadow-lg border-0 rounded-lg mt-5">  
                                <div class="card-header"><h3 class="text-center font-weight-light my-4">ورود به سیستم</h3></div>  
                                <div class="card-body">  
                                  <h2>ثبت‌نام</h2>
                                  <div id="success-message" style="display: none; color: green"></div>
                                  {% if messages %} {% for message in messages %}
                                  <div class="message">{{ message }}</div>
                                  {% endfor %} {% endif %}
                                  <form id="register-form" method="POST" onsubmit="handleFormSubmit(event)">
                                    {% csrf_token %}
                                    <label class="small mb-1" for="username">نام کاربری</label>  
                                    <input
                                      class='form-control'
                                      type="text"
                                      id="username"
                                      name="username"
                                      placeholder="نام کاربری:"
                                      required
                                    />
                                    <label class="small mb-1" for="username">ایمیل</label>  
                                    <input  
                                      class='form-control'
                                      type="email" 
                                      id="email" 
                                      name="email" 
                                      placeholder="ایمیل" 
                                      required 
                                    />
                                    <label class="small mb-1" for="password">گذرواژه</label>  
                                    <input
                                      class='form-control'
                                      type="password"
                                      id="password"
                                      name="password"
                                      placeholder="گذرواژه"
                                      required
                                    />
                                    <label class="small mb-1" for="password">تکرار گذرواژه</label>  
                                    <input
                                      class='form-control'
                                      type="password"
                                      id="confirm_password"
                                      name="confirm_password"
                                      placeholder="تایید گذرواژه"
                                      required
                                    />
                                    <div class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">  
                                    <button type="submit">ثبت‌نام</button>
                                    </div>  
                                    {% if form.errors %}
                                    <div class="errors">
                                      {% for field, errors in form.errors.items %}
                                      <p>{{ field }}: {{ errors|join:", " }}</p>
                                      {% endfor %}
                                      <p>{{ non_field_errors|join:", " }}</p>
                                    </div>
                                    {% endif %}
                                  </form>
                                  <script>
                                    function showSuccessMessage(message) {
                                      var messageDiv = document.getElementById("success-message");
                                      messageDiv.innerText = message;
                                      messageDiv.style.display = "block";
                                    }
                                    function handleFormSubmit(event) {
                                      event.preventDefault();
                                      var form = event.target;
                                      var formData = new FormData(form);
                                  
                                      fetch(form.action, {
                                        method: "POST",
                                        body: formData,
                                        headers: {
                                          "X-Requested-With": "XMLHttpRequest",
                                          "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
                                        },
                                      })
                                        .then((response) => response.json())
                                        .then((data) => {
                                          if (data.status === "success") {
                                            showSuccessMessage(data.message);
                                          } else {
                                            alert(data.message);
                                          }
                                        });
                                    }
                                  </script>
                                </div>  
                            </div>  
                        </div>  
                    </div>  
                </div>  
            </main>  
        </div>  
        <div id="layoutAuthentication_footer">  
            <footer class="py-4 bg-light mt-auto text-center">  
                <div class="container-fluid">  
                    <div class="small">  
                        {% include 'copyright.html' %}  
                    </div>  
                </div>  
            </footer>  
        </div>
    </div>  
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>  
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>  
    <script src="{% static 'js/scripts.js' %}"></script>  
</body>  
</html>


