{% load static %}
 {% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %} {% block content %}
<h2>ثبت‌نام</h2>
<div id="success-message" style="display: none; color: green"></div>
{% if messages %} {% for message in messages %}
<div class="message">{{ message }}</div>
{% endfor %} {% endif %}
<form id="register-form" method="POST" onsubmit="handleFormSubmit(event)">
  {% csrf_token %}
  <label for="username">نام کاربری:</label>
  <input
    type="text"
    id="username"
    name="username"
    placeholder="نام کاربری:"
    required
  />
  <label for="email">ایمیل:</label>
  <input type="email" id="email" name="email" placeholder="ایمیل" required />
  <label for="password">رمز عبور:</label>
  <input
    type="password"
    id="password"
    name="password"
    placeholder="گذرواژه"
    required
  />
  <label for="confirm_password">تایید رمز عبور:</label>
  <input
    type="password"
    id="confirm_password"
    name="confirm_password"
    placeholder="تایید گذرواژه"
    required
  />

  <button type="submit">ثبت‌نام</button>
  {% if form.errors %}
  <div class="errors">
    {% for field, errors in form.errors.items %}
    <p>{{ field }}: {{ errors|join:", " }}</p>
    {% endfor %}
    <p>{{ non_field_errors|join:", " }}</p>
  </div>
  {% endif %}
</form>

<script>
  function showSuccessMessage(message) {
    var messageDiv = document.getElementById("success-message");
    messageDiv.innerText = message;
    messageDiv.style.display = "block";
  }

  function handleFormSubmit(event) {
    event.preventDefault();
    var form = event.target;
    var formData = new FormData(form);

    fetch(form.action, {
      method: "POST",
      body: formData,
      headers: {
        "X-Requested-With": "XMLHttpRequest",
        "X-CSRFToken": formData.get("csrfmiddlewaretoken"),
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.status === "success") {
          showSuccessMessage(data.message);
        } else {
          alert(data.message);
        }
      });
  }
</script>
{% endblock %}
